In [4]:
import pandas as pd

da = pd.read_csv("Regional_Totals_Data.csv", encoding="ISO-8859-1", header=1)
da

                 Blekinge    7646  4790.546875    34   112
0                 Dalarna   13942  4841.543945   101   302
1                 Gotland    2650  4439.902344    24    44
2              GÃ¤vleborg   19426  6759.644043   150   482
3                 Halland   21052  6305.863770   101   254
4   JÃ¤mtland HÃ¤rjedalen    6249  4777.157715    46   100
5             JÃ¶nkÃ¶ping   24236  6665.584961   219   486
6                  Kalmar   10391  4233.517578    61   207
7               Kronoberg   13080  6492.313965    79   284
8              Norrbotten   10977  4389.166992   114   212
9                  SkÃ¥ne  103958  7545.069336   453  1474
10              Stockholm  144522  6079.809570  1530  3820
11              SÃ¶rmland   12214  4104.994141   223   389
12                Uppsala   22684  5911.709961   241   467
13              VÃ¤rmland    8320  2946.029541    64   162
14          VÃ¤sterbotten   11957  4400.226562    75   123
15        VÃ¤sternorrland   14034  5720.062012   112   387
16           VÃ¤stmanland   17408  6310.790527    88   311
17      VÃ¤stra GÃ¶taland  105596  6118.382324   926  1993
18                Ãrebro   16934  5555.683105   135   285
19         ÃstergÃ¶tland   21135  4540.328125   217   534